@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.main-header {
    background-color: rgba(0, 10, 30, 0.5);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 0.7em;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav__ul li {
    display: inline;
    padding: 1.3em;

}

.nav__ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3em;
}

.carousel {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.carousel__tracks-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel_tracks {
    list-style: none;
}

.carousel__slide {
    position: absolute;
    left: 0;
    top: 0;
}

.carousel__dots-nav {
   display: flex;
   justify-content: center;
}

.carousel__dot {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}

.carousel__dot--active {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 96px;
    height: 96px;
    border: 0;
    border-radius: 50%;
    z-index: 3;
    background-color: rgba(0, 0, 200, 0.35);
    cursor: pointer;
    transition: 200ms ease-in;
}

.carousel__btn:hover,
.carousel__btn:focus {
    filter: opacity(75%) contrast(125%);
}

.carousel__btn--left {
    left: -8em;
}

.carousel__btn--right {
    right: -8em;
}